<input placeholder="Id" [(ngModel)]="ID"><br>

<input placeholder="title" [(ngModel)]="title"><br>

<input placeholder="Author" [(ngModel)]="Author"><br>

<input placeholder="imgUrl" [(ngModel)]="ImageUrl" ><br>

<input placeholder="type" [(ngModel)]="ContentType"><br>

<input placeholder="body" [(ngModel)]="body"><br>

<input placeholder="tags" [(ngModel)]="ContentTag"><br><br>

<input type="button" value="CreateContent" (click)="save()"><br><br>

<input type="button" value="Update" (click)="updateTheItem()"><br>

